.parallax {
    background-image: url("/assets/stars.jpg");
    height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

img {
    opacity: 0.5;
}

img:hover {
    opacity: 1.0;
    border: 5px solid steelblue;
}

.grade {
    background: linear-gradient(to right, #e74c3c, #000000);
}

.navlinks:hover {
    background-color: red;
    color: black;
}

.mouse {
    max-width: 2.5rem;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.scroll {
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
    animation-iteration-count: infinite;
    transform-origin: 50% 20.5px;
    will-change: transform, opacity;
    opacity: 1;
}

.scroll-link {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes scroll {
    0%,
    20% {
        transform: translateY(0) scaleY(1);
    }
    100% {
        transform: translateY(36px) scaleY(2);
        opacity: 0;
    }
}

.content {
    min-height: 100vh;
    max-width: 28rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.scroll-down {
    color: white;

    text-align: justify;
}

.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  width: 400px;
  margin: 0 auto;
}
@keyframes noise-anim {
  0% {
    clip: rect(15px, 9999px, 55px, 0);
  }
  5% {
    clip: rect(61px, 9999px, 81px, 0);
  }
  10% {
    clip: rect(21px, 9999px, 89px, 0);
  }
  15% {
    clip: rect(63px, 9999px, 32px, 0);
  }
  20% {
    clip: rect(30px, 9999px, 68px, 0);
  }
  25% {
    clip: rect(23px, 9999px, 8px, 0);
  }
  30% {
    clip: rect(18px, 9999px, 77px, 0);
  }
  35% {
    clip: rect(19px, 9999px, 30px, 0);
  }
  40% {
    clip: rect(97px, 9999px, 56px, 0);
  }
  45% {
    clip: rect(65px, 9999px, 87px, 0);
  }
  50% {
    clip: rect(17px, 9999px, 26px, 0);
  }
  55% {
    clip: rect(43px, 9999px, 92px, 0);
  }
  60% {
    clip: rect(53px, 9999px, 33px, 0);
  }
  65% {
    clip: rect(44px, 9999px, 49px, 0);
  }
  70% {
    clip: rect(85px, 9999px, 54px, 0);
  }
  75% {
    clip: rect(43px, 9999px, 44px, 0);
  }
  80% {
    clip: rect(81px, 9999px, 37px, 0);
  }
  85% {
    clip: rect(73px, 9999px, 51px, 0);
  }
  90% {
    clip: rect(41px, 9999px, 27px, 0);
  }
  95% {
    clip: rect(26px, 9999px, 46px, 0);
  }
  100% {
    clip: rect(41px, 9999px, 41px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 5s infinite linear alternate-reverse;
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(77px, 9999px, 60px, 0);
  }
  5% {
    clip: rect(52px, 9999px, 67px, 0);
  }
  10% {
    clip: rect(45px, 9999px, 11px, 0);
  }
  15% {
    clip: rect(12px, 9999px, 6px, 0);
  }
  20% {
    clip: rect(68px, 9999px, 73px, 0);
  }
  25% {
    clip: rect(5px, 9999px, 67px, 0);
  }
  30% {
    clip: rect(42px, 9999px, 60px, 0);
  }
  35% {
    clip: rect(71px, 9999px, 8px, 0);
  }
  40% {
    clip: rect(18px, 9999px, 97px, 0);
  }
  45% {
    clip: rect(99px, 9999px, 70px, 0);
  }
  50% {
    clip: rect(94px, 9999px, 39px, 0);
  }
  55% {
    clip: rect(95px, 9999px, 65px, 0);
  }
  60% {
    clip: rect(100px, 9999px, 75px, 0);
  }
  65% {
    clip: rect(6px, 9999px, 62px, 0);
  }
  70% {
    clip: rect(64px, 9999px, 57px, 0);
  }
  75% {
    clip: rect(89px, 9999px, 6px, 0);
  }
  80% {
    clip: rect(88px, 9999px, 39px, 0);
  }
  85% {
    clip: rect(95px, 9999px, 86px, 0);
  }
  90% {
    clip: rect(89px, 9999px, 79px, 0);
  }
  95% {
    clip: rect(10px, 9999px, 68px, 0);
  }
  100% {
    clip: rect(83px, 9999px, 37px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 10s infinite linear alternate-reverse;
}
