<app-header></app-header>
<section class="container-fluid grade">
<div class="scroll-link" href="#content">
    <svg class="mouse" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 130" preserveAspectRatio="xMidYMid meet">
            <g fill="none" fill-rule="evenodd">
                <rect width="70" height="118" x="1.5" y="1.5" stroke="#FFF" stroke-width="3" rx="36" />
                <circle class="scroll" cx="36.5" cy="31.5" r="4.5" fill="#FFF" />
            </g>
        </svg>
    <p class="scroll-down">Scroll</p>
    <p class="scroll-down">Down</p>
</div>
<div class="parallax"></div>
</section>
<section class="container-fluid grade">
    <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12">
            <div class="text-white text-center d-lg-block mt-5">
                <h1 class="text-white">About Me</h1>
                <h2>My name is Travis Rivers and I live in Denver with my fiancee and two pups. We moved here 3 1/2 years ago from Rochester, NY after just one visit because we fell in love with Colorado. I've spent my career working in talent acquistion,
                    primarily for healthcare entities. Recently, I decided to learn how to program and I've been surprised by how much I enjoy it. I've always embraced things that are challenging and I love learning. With programming, I get both of those
                    things. </h2>

            </div>
        </div>
        <div class="col-lg-6 col-sm-12 mt-5">
            <img class="img-fluid " src="/assets/profesh.jfif" alt="">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12 mt-5">
            <img class="img-fluid" src="/assets/f2w.jpg" alt="">
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="text-white text-center d-lg-block mt-5 mr-5">
                <h2>Outside of being a nerd, I enjoy competing in Jiu-Jitsu </h2>

            </div>
        </div>

    </div>
    <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12">
            <div class="text-white text-center d-lg-block mt-5">
                <h2>Hiking </h2>

            </div>
        </div>
        <div class="col-lg-6 col-sm-12 mt-5">
            <img class="img-fluid" src="/assets/princeton.jpg" alt="">
        </div>


    </div>
    <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12 mt-5">
            <img class="img-fluid" src="/assets/lighthouse.jpg" alt="">
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="text-white text-center d-lg-block mt-5">
                <h2>And traveling </h2>

            </div>
        </div>

    </div>
    <div class="parallax"></div>
</section>

