
<body>
<div class="container">
    <h1>Hey, welcome to Trav's Site! Inside, you'll learn more about me and see some of the things I've made. Thanks for stopping by and checking it out.  What are you waiting for? <a class="highlight"
            routerLink="/home"><span>Come on in!</span></a></h1>
    <div class="bird-container bird-container--one">
        <div class="bird bird--one"></div>
    </div>
    <div class="bird-container bird-container--two">
        <div class="bird bird--two"></div>
    </div>
    <div class="bird-container bird-container--three">
        <div class="bird bird--three"></div>
    </div>
    <div class="bird-container bird-container--four">
        <div class="bird bird--four"></div>
    </div>

</div>
</body>
