@import url("https://fonts.googleapis.com/css?family=Roboto:500,700");
*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  background: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container h1 {
  font-family: "Roboto", serif;
  word-spacing: 3px;
  max-width: 45rem;
  transform: translateY(6rem);
  animation: up 500ms linear forwards;
  z-index: 1;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
}

.container .highlight {
  display: inline-block;
  color: white;
  transition: color 250ms, text-shadow 250ms;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
  position: relative;
  z-index: 0;
}

.container .highlight::after {
  position: absolute;
  z-index: -1;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 100%;
  height: 3px;
  background-color: #343434;
  transition: all 250ms;
}

.container .highlight:hover {
  color: white;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.container .highlight:hover::after {
  height: 105%;
  width: 105%;
}

body {
  font-family: "Roboto", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1::before,
h1::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 1px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

h1::before {
  top: 1.4rem;
  animation: draw 500ms linear 1s forwards;
}

h1::after {
  bottom: 0.4rem;
  animation: draw 500ms linear 1s forwards;
}

@keyframes up {
  100% {
    transform: translateY(0);
  }
}

.bird {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg);
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
}

.bird--one {
  animation-duration: 1s;
  animation-delay: -0.5s;
}

.bird--two {
  animation-duration: 0.9s;
  animation-delay: -0.75s;
}

.bird--three {
  animation-duration: 1.25s;
  animation-delay: -0.25s;
}

.bird--four {
  animation-duration: 1.1s;
  animation-delay: -0.5s;
}

.bird-container {
  position: absolute;
  top: 20%;
  left: -10%;
  transform: scale(0) translateX(-10vw);
  will-change: transform;
  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bird-container--one {
  animation-duration: 15s;
  animation-delay: 0;
}

.bird-container--two {
  animation-duration: 16s;
  animation-delay: 1s;
}

.bird-container--three {
  animation-duration: 14.6s;
  animation-delay: 9.5s;
}

.bird-container--four {
  animation-duration: 16s;
  animation-delay: 10.25s;
}

@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}

@keyframes fly-right-one {
  0% {
    transform: scale(0.3) translateX(-10vw);
  }
  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }
  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.5);
  }
  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.6);
  }
  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.6);
  }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.6);
  }
  60% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
}

@keyframes fly-right-two {
  0% {
    transform: translateY(-2vh) translateX(-10vw) scale(0.5);
  }
  10% {
    transform: translateY(0vh) translateX(10vw) scale(0.4);
  }
  20% {
    transform: translateY(-4vh) translateX(30vw) scale(0.6);
  }
  30% {
    transform: translateY(1vh) translateX(50vw) scale(0.45);
  }
  40% {
    transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
  }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.45);
  }
  51% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
}

div#preload {
  display: none;
}
