<div class="row grade">
    <div class="col-lg-12 pt-5 mt-5 mx-5">
        <div class="card-deck">

            <div class="card text-white text-center bg-dark mb-3" style="max-width: 18rem;">
                <img class="card-img-top px-3 pt-3" src="/assets/parker.JPG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">DogParker</h5>
                    <p class="card-text">A full stack (MongoDB, Express, Node.js) application. It features RESTful routing, Google Maps functionality, and user authentication. Basically, it's Yelp for Dog Parks.</p>
                    <a href="http://dogparker.herokuapp.com/" class="btn btn-danger">Go</a>
                </div>
            </div>

            <div class="card text-white text-center bg-dark mb-3" style="max-width: 18rem;">
                <img class="card-img-top px-3 pt-3" src="/assets/guesser.JPG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Color Guessing Game</h5>
                    <p class="card-text">A game where you guess a color based upon RGB values</p>
                    <a href="https://trav-portfolio.herokuapp.com/colorguesser" class="btn btn-danger">Go</a>
                </div>
            </div>

            <div class="card text-white text-center bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top" src="/assets/circles.JPG" alt="Card image cap">
                    <h5 class="card-title">Circles</h5>
                    <p class="card-text">A game that turns your keyboard into an instrument, heavily inspired by Patatap</p>
                    <a href="https://trav-portfolio.herokuapp.com/circles" class="btn btn-danger">Go</a>
                </div>
            </div>

            <div class="card text-white text-center bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top" src="/assets/todo.JPG" alt="Card image cap">
                    <h5 class="card-title">Fancy To-Do List</h5>
                    <p class="card-text">It's a to-do list...but fancy. Add, mark as complete, and remove items</p>
                    <a href="https://trav-portfolio.herokuapp.com/fancytodo" class="btn btn-danger">Go</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="grade"></section>
