<div class="row grade">
    <div class="col-lg-4 col-md-6 mt-5">
        <img src="/assets/pups.jpg" class="img-thumbnail">
    </div>
    <div class="col-lg-4 col-md-6 mt-5">
        <img src="/assets/fam.jpg" class="img-thumbnail">
    </div>
    <div class="col-lg-4 col-md-6 mt-5">
        <img src="/assets/ridin.jpg" class="img-thumbnail">
    </div>
    <div class="col-lg-4 col-md-6 my-5">
        <img src="/assets/majestic.jpg" class="img-thumbnail">
    </div>
    <div class="col-lg-4 col-md-6 my-5">
        <img src="/assets/smol.jpg" class="img-thumbnail">
    </div>
    <div class="col-lg-4 col-md-6 my-5">
        <img src="/assets/glacier.jpg" class="img-thumbnail">
    </div>
    <div class="col-lg-4 col-md-6">
        <img src="/assets/birthday.jpg" class="img-thumbnail">
    </div>
    <div class="col-lg-4 col-md-6">
        <img src="/assets/speedoflight.jpg" class="img-thumbnail">
    </div>
    <div class="col-lg-4 col-md-6">
        <img src="/assets/puppack.jpg" class="img-thumbnail">
    </div>
</div>
