<app-header></app-header>

<section class="container-fluid grade">
  <div class="scroll-link mb-5" href="#content">
    <svg class="mouse mb-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 130" preserveAspectRatio="xMidYMid meet">
            <g fill="none" fill-rule="evenodd">
                <rect width="70" height="118" x="1.5" y="1.5" stroke="#FFF" stroke-width="3" rx="36" />
                <circle class="scroll" cx="36.5" cy="31.5" r="4.5" fill="#FFF" />
            </g>
        </svg>
    <p class="scroll-down">Scroll</p>
    <p class="scroll-down">Down</p>
  </div>
  <div class="parallax"></div>
</section>

<section class="container-fluid grade">
  <div class="row align-items-center">
    <div class="col-lg-6 col-sm-12">
      <div class="text-center text-white d-lg-block mx-5 mt-5">
        <h1>Hey!</h1>
        <h2>Welcome to my site! My name is Travis and I put this together to serve as my portfolio. I have been learning and using Python, HTML, CSS, JavaScript and a whole host of libraries and frameworks including Flask, Express JS, JQuery, Angular, MongoDB
          and Bootstrap. While you're here, please check out some of the other web applications and programs I've made!
        </h2>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 d-lg-block mt-5">
      <img class="img-fluid" src="/assets/sherman.jpg">
    </div>
  </div>
</section>
<section class="container-fluid grade">
  <div class="row align-items-center">
    <div class="col-sm mt-5">
      <img class="img-fluid" src="/assets/iceland.jpg">
    </div>
    <div class="col-sm mt-5">
      <div class="text-center text-white d-lg-block mx-auto mt-5">
        <h2>This site was built using Bootstrap and is powered by Flask. </h2>
      </div>
    </div>
  </div>
  <div class="parallax"></div>
</section>
